---
layout: page
title: Research
---
<p> I worked on severals project concerning Blockchain. Here is a list of a few of them :
</p>
<h2> Building of Time Projection Chamber (TPC) :</h2>

<p>Time projection chamber is a tracking device used in many physics experiments to be able to track energetic particles as they move through a medium. I help in building a tracking device for upcoming detector system <a href="https://www.sphenix.bnl.gov/web/"> sPHENIX </a> at BNL. 
Unlike most TPC’s, which have a spatial resolution of 300 microns, we are hoping to achieve a resolution of 150 microns which will be a critical in measuring fully resolved upsilon states and thus the debye radius of <a href="https://www.bnl.gov/riken/research/QGP.php" target="_blank"> quark-gluon plasma </a>. The tracking system will work in continuous read out, at high data collection rates -15kHz- and will be able to provide the needed momentum resolution.

</p>


<h2> MPCeX Callibration and Data Analysis:</h2>



    <p>Soon to be updated </p>

    </p>
<section class="list">
    {% for post in site.posts %}
        {% if post.research %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
