---
layout: page
title: Research
---
<p> I worked on severals project concerning Blockchain. Here is a list of a few of them :
</p>
<h2> Experimentations on Iota </h2>

<p>During my 1st year of Master I did with a few colleague a deep study of the Iota protocol. 
        Our project is divided in six main objectives :

        Establish a benchmark of the IOTA tangle compared to its existing competitors : BitCoin, NxT
        
        , Study the security and scalability of the tangle
        
        , Study the possibilities of auditing using IOTA
        
        , Establish a benchmark over Ethereum and see if smart contracts are implementable with IOTA
        
        , Explore the connected objects possibilities and applications to IoT (Internet of Things) and Energy
</p>


<h2>Electronic voting:</h2>

    <p>Soon to be updated </p>

    </p>
<section class="list">
    {% for post in site.posts %}
        {% if post.research %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
