---
layout: page
title: Research
---
<p> I worked on severals project concerning Blockchain. Here is a list of a few of them :
</p>
<h2> Experimentations on Iota </h2>

<p>During my 1st year of Master I did with a few colleague a deep study of the Iota protocol. 
        Our project is divided in six main objectives :

        Establish a benchmark of the IOTA tangle compared to its existing competitors : BitCoin, NxT
        
        , Study the security and scalability of the tangle
        
        , Study the possibilities of auditing using IOTA
        
        , Establish a benchmark over Ethereum and see if smart contracts are implementable with IOTA
        
        , Explore the connected objects possibilities and applications to IoT (Internet of Things) and Energy
</p>


<h2>Electronic voting:</h2>

    <p>Development of an electronic voting solution using blockchain technology.
            This project was carried out in collaboration with ESILV students in 1st, 2nd  year of master in their engineering curriculum. The goal was for me to discover what the blockchain is, its principle and implementation while focusing on the security aspects of this new technology.
            The purpose of this hackathon was to present what the blockchain is, its stakes, advantages, and disadvantages to an audience of professionals and amateurs.
            It ended with two days of presentation during which we received the visit of Satya Nadella, CEO Microsoft Corporation, and Axelle Lemaire, Secretary of the French State for Digital and Innovation, to whom I was able to present our project during 5-minute pitch held respectively in English and in French.
    </p>



<h2>Blockchain based gaming system:</h2> 

    <p>
            "The Division: Battle for Paris": a geolocated mobile application
            We designed a prototype in two days, a mobile application called "The Division: Battle for Paris". This is a continuation of "The Division", this time designed for mobile. For those who do not know "The Division", the goal is to fight enemy factions to retake Manhattan. It is also possible to improve and customize your character with items and skins.
            
            We have taken the same concept but by creating a mobile application that works thanks to geolocation in the same way as Pokemon Go. It is necessary to travel to find resources. These resources then make it possible to crafter objects in order to improve the character.
            
            We have devised an "effort to win" approach and not "pay to win" as in most games where the one who invests the most money in the game will be the best. Here, the best player is the one who plays the most.
            
            From a technical point of view, the items, which improve the character's abilities, were modeled using ERC721 tokens. Gems are the currency that allows you to buy these items, they have been modelled by ERC20 tokens.
    </p>


<section class="list">
    {% for post in site.posts %}
        {% if post.research %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
